@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-zinc-100 dark:bg-zinc-900;
}

.iconify {
	font-size: 24px;
}
img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

.card {
	@apply bg-white dark:bg-zinc-800 shadow-sm hover:shadow-md rounded-sm;
}

.thm-img {
	@apply invert dark:invert-0 select-none pointer-events-none;
}

* {
	@apply duration-150 font-['Fira_Sans'] dark:text-white;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

h1,
h1 * {
	@apply text-4xl font-['Outfit'];
}

h2,
h2 * {
	@apply text-2xl font-['Outfit'];
}

h3,
h3 * {
	@apply text-lg font-['Outfit'];
}
